accelerate==0.25.0
aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
async-timeout==4.0.3
blender==1.4
chardet==3.0.4
chumpy==0.70
coloredlogs==15.0.1
conda==22.11.1
contourpy==1.2.0
cycler==0.12.1
diffusers==0.24.0
distro==1.9.0
einops==0.7.0
exceptiongroup==1.2.0
fastapi==0.105.0
flatbuffers==23.5.26
fonttools==4.47.0
freetype-py==2.4.0
frozenlist==1.4.1
fsspec==2023.12.2
ftfy==6.1.3
gdown==5.1.0
glfw==2.6.5
GPUtil==1.4.0
gradio==4.12.0
gradio_client==0.8.0
h11==0.14.0
hf_transfer==0.1.6
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.21.4
humanfriendly==10.0
idna==3.7
imageio==2.33.1
invisible-watermark==0.2.0
iopath==0.1.10
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
lightning-utilities==0.10.0
llvmlite==0.41.1
loguru==0.7.2
lpips==0.1.4
markdown-it-py==3.0.0
mathutils==3.3.0
matplotlib==3.8.2
mdurl==0.1.2
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.0.4
networkx==3.2.1
ninja==1.11.1.1
numba==0.58.1
objaverse==0.1.7
omegaconf==2.3.0
onnxruntime==1.16.3
open-clip-torch==2.23.0
openai==0.28.0
opencv-python==4.8.1.78
opencv-python-headless==4.9.0.80
OpenEXR==1.3.9
orjson==3.9.10
pandas==2.1.4
platformdirs==4.1.0
pooch==1.8.0
protobuf==4.25.1
pyarrow==14.0.2
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
pyglet==2.0.12
Pygments==2.17.2
PyMatting==1.1.12
pymeshlab==2022.2
PyOpenGL==3.1.0
pyparsing==3.1.1
pyrender==0.1.45
python-dateutil==2.8.2
python-multipart==0.0.6
pytorch-fid==0.3.0
pytorch-lightning==1.9.1
pytorch-msssim==1.0.0
pytorch3d==0.7.5
PyWavelets==1.5.0
regex==2023.12.25
rembg==2.0.53
replicate==0.25.2
requests==2.23.0
rich==13.7.0
safetensors==0.4.1
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.1
semantic-version==2.10.0
sentencepiece==0.1.99
shellingham==1.5.4
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
sympy==1.12
tensorboardX==2.6.2.2
threadpoolctl==3.2.0
tifffile==2023.12.9
timm==0.9.12
tokenizers==0.15.0
tomlkit==0.12.0
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchmetrics==1.2.1
torchvision==0.13.1+cu113
transformers==4.36.2
trimesh==4.0.8
triton==2.1.0
typer==0.9.0
typing_extensions==4.10.0
tzdata==2023.3
urllib3==1.24.3
uvicorn==0.25.0
wcwidth==0.2.12
websockets==11.0.3
xatlas==0.0.8
xformers==0.0.22
yarl==1.9.4

